@font-face {
    font-family: "bla-font";
    src: url("Anastasia.ttf")  ;
    font-weight: 400;
    font-display: swap;

}

@font-face {
    font-family: "bla-font-bolt";
    src: url("Anastasia.ttf")  ;
    font-weight: 700;
    font-display: swap;
}


* {
    box-sizing: border-box;
}

html {
    font-size: 16px;;
    font-family: 'Roboto', sans-serif;
    font-style: normal;

}


.wrapper {
    width: 100%;
    margin: 20px;
    white-space: nowrap;
    overflow-x: scroll;
    height: 300px;

}

.ver {
    width: 300px;
    margin: 15px;
    height: 100%;
    background: gray;
    display: inline-block;

}


.hor {
    height: 30px;
    background: cadetblue;
    margin: 15px;
}

.h-50 {
    height: 50px;

}

.h-150 {
    height: 150px;
}

.scroll-y {
    overflow-y: scroll;
}

.font_anastasia {
    font-family: "bla-font", sans-serif;
    white-space: normal;

}

.italic {
    font-family: bla-font, sans-serif;
    font-style: italic;
}
.bolt{
    font-family: bla-font-bolt, sans-serif;
}
